<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="local" connectionString="metadata=res://*/PonydbModel.csdl|res://*/PonydbModel.ssdl|res://*/PonydbModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=pony123;database=ponydb&quot;" providerName="System.Data.EntityClient" />
    <add name="remote" connectionString="metadata=res://*/PonydbModel.csdl|res://*/PonydbModel.ssdl|res://*/PonydbModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=68.178.216.152;user id=ponydb;password=Pony123!@#;database=ponydb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>